[submodule "lib/LCD_RA8876_FT5316"]
	path = lib/LCD_RA8876_FT5316
	url = https://github.com/KirillSomov/LCD_RA8876_FT5316.git
[submodule "lib/Square-GUI"]
	path = lib/Square-GUI
	url = https://github.com/KirillSomov/Square-GUI.git
